<h1>Orders</h1>
<div class="reg">
    <h3>Place order</h3>
    <div  style="width: 300px;">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="pid">Product ID</label>
                <input type="text" class="form-control" id="pid" required [(ngModel)]="order.pid" name="pid">
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" required [(ngModel)]="order.quantity" name="quantity">
            </div>

            <div class="form-group">
                <label for="total_price">Total price</label>
                <input type="number" class="form-control" id="total_price" required [(ngModel)]="order.total_price" name="total_price">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
